<!DOCTYPE html>
<html>

<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4523249175576175"
        crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>only-fans</title>
    <meta property="og:title" content="New free only-fans content By our creators get what your looking for">
    <meta property="og:url" content="https://onlefans.uk">
    <meta property="og:site_name" content="Free 14 day trail">
    <meta property="og:image"
        content="https://public.onlyfans.com/files/thumbs/c144/m/mk/mka/mkamcrf6rjmcwo0jj4zoavhmalzohe5a1640180203/avatar.jpg">
    <meta property="og:description" content="New free only fans content By our creators">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="photo">
    <meta name="twitter:title" content="New free only-fans content By our creators get what your looking for">
    <meta name="twitter:site" content="@light_shot">
    <meta name="twitter:description" content="Captured with Lightshot">
    <meta name="twitter:image:src"
        content="https://public.onlyfans.com/files/thumbs/c144/m/mk/mka/mkamcrf6rjmcwo0jj4zoavhmalzohe5a1640180203/avatar.jpg">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&amp;display=swap" rel="stylesheet">
    <title>Only-fans</title>
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: 'Arial', sans-serif;
            background-color: #f2f2f2;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
        }

        .card {
            background: #ffffff;
            border: 1px solid #e8e8e8;
            width: 350px;
            border-radius: 15px;
            padding: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .logo {
            width: 200px;
            height: 80px;
            background: url('logo.png');
            background-size: cover;
            display: block;
            margin: 0 auto;
        }

        .highlight {
            color: #0088cc;
        }

        .extension-box {
            background: #f8f8f8;
            border: 1px solid #e8e8e8;
            border-radius: 10px;
            margin: 20px 0;
            padding: 10px;
            text-align: center;
        }

        .input-field {
            width: 100%;
            height: 45px;
            padding: 10px;
            box-sizing: border-box;
            margin-top: 20px;
            border: 1px solid #e8e8e8;
            border-radius: 10px;
        }

        p {
            font-size: 1rem;
            line-height: 1.5;
            color: #333;
        }

        input::placeholder {
            color: #999;
        }

        img {
            display: block;
            width: 100%;
            height: auto;
            max-width: 100%;
            margin: 0 auto;
        }

        button {
            display: block;
            width: 100%;
            height: 45px;
            background-color: #0088cc;
            color: #ffffff;
            font-size: 1rem;
            font-weight: bold;
            text-transform: uppercase;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            margin-top: 20px;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #006fa0;
        }

        @keyframes typing {
            0% {
                width: 0;
            }

            50%,
            100% {
                width: 12ch;
            }
        }

        @keyframes backspace {

            0%,
            50% {
                width: 12ch;
            }

            100% {
                width: 0;
            }
        }

        .typing {
            overflow: hidden;
            border-right: 0.15em solid #0088cc;
            white-space: nowrap;
            animation: typing 4s steps(30, end), backspace 4s steps(30, end) 4s infinite;
        }
    </style>
</head>

<body>
    <div class="card">
        <div class="logo">
            <img src="/img/fakeonlyfans.png" alt="fakeonlyfans">
        </div>
        <div class="extension-box">
            <p>
                https://only-fans.uk/<span class="highlight typing">your_extension</span>
            </p>
        </div>
        <div class="extension-box">
            <p>Make your own custom extension and put it on your discord bio:</p>
            <form action="/" method="post">
                <input class="input-field" type="text" name="username" placeholder="Type your extension here"
                    minlength="1" maxlength="20" pattern="[A-Za-z0-9]{1,20}" required="required" />
                <button type="submit">Submit</button>
            </form>
        </div>

    </div>
</body>

</html>